<%- include('../layouts/Shopheader') %>

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap11.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style11.css" type="text/css">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">




    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Your custom CSS file (if any) -->
    <link rel="stylesheet" href="/css/custom-styles.css">

    <!-- Optional: Font Awesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="path/to/elevatezoom.css">

    

</head>

<style>

 /* Navbar Styles */
 .navbar {
    background-color: #343a40; /* Dark background */
    padding: 1rem 1rem; /* Padding */
}

.navbar-brand h1 {
    color: #ffffff; /* White text for the brand name */
    font-size: 2rem; /* Adjust as needed */
}

.navbar-nav .nav-item .nav-link {
    color: #ffffff; /* White text for nav links */
    margin-right: 1rem; /* Spacing between links */
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ffc107; /* Yellow text on hover */
}

.navbar-nav .nav-item.active .nav-link {
    color: #ffc107; /* Yellow text for the active link */
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1); /* Light border for toggler */
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;...");
}


.shopping__cart__table img {
    width: 80px; /* Adjust as needed */
    height: 80px; /* Adjust as needed */
    object-fit: cover; /* Ensures the image covers the defined dimensions */
    border-radius: 5px; /* Optional: Adds rounded corners */
}

.quantity {
    display: flex;
    align-items: center;
}

.pro-qty-2 {
    display: flex;
    align-items: center;
}

.qty-btn {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    color: #333;
}

.qty-btn:hover {
    background-color: #e0e0e0;
}

input[type="number"] {
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    height: 30px;
    font-size: 16px;
}

.stock-message {
        margin-top: 10px;
        color: red;
    }

    .out-of-stock {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid red;
    color: rgb(244, 243, 243);
    background-color: #ee0e0e; /* Light red background */
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px; /* Optional, to add some space above the message */
}






.logo-name {
  font-size: 36px !important; /* Ensure the font size is applied */
  font-weight: bold; /* Make the logo bold */
  color: #f1c40f !important; /* Force the color to apply */
}

.ftco-footer-widget p {
  font-size: 18px !important; /* Ensure the paragraph font size is applied */
  color: #ccc !important; /* Force the color to apply */
}

.ftco-footer {
  background: #2b2b2b;
  color: #fff;
  padding: 60px 0;
  font-family: 'Roboto', sans-serif;
}

.ftco-footer .logo-text {
  font-size: 30px;
  font-weight: bold;
  color: #f1c40f; /* Gold color for GAMZY */
  text-transform: uppercase;
  letter-spacing: 2px;
}

.ftco-footer h2 {
  font-size: 22px;
  color: #fff;
  margin-bottom: 20px;
}

.ftco-footer .ftco-heading-2 {
  font-size: 18px;
  font-weight: 600;
}

.ftco-footer-widget p {
  color: #bbb;
  font-size: 14px;
}

.ftco-footer ul {
  list-style: none;
  padding: 0;
}

.ftco-footer ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  color: #bbb;
}

.ftco-footer ul li span.icon {
  margin-right: 15px;
  font-size: 18px;
  color: #f1c40f;
}

.ftco-footer ul li a {
  color: #fff;
  text-decoration: none;
}

.ftco-footer ul li a:hover {
  color: #f1c40f;
}

.ftco-footer .text-center p {
  font-size: 14px;
  color: #bbb;
  margin: 0;
}

.ftco-footer .text-center i.icon-heart {
  color: #e74c3c;
}

.ftco-footer .text-center a {
  color: #f1c40f;
}

.ftco-footer .text-center a:hover {
  color: #fff;
}

.ftco-footer .container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

@media (max-width: 768px) {
  .ftco-footer .logo-text {
    text-align: center;
    margin-bottom: 20px;
  }
  .ftco-footer .row {
    text-align: center;
  }
}




.block-23 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.block-23 ul li {
  display: flex;
  align-items: center; /* Align icons and text vertically */
  margin-bottom: 10px;
}

.block-23 ul li span.fas {
  font-size: 18px;  /* Adjust icon size */
  color: #f1c40f; /* Gold color for the icon */
  margin-right: 15px; /* Add space between icon and text */
}

.block-23 ul li a {
  color: #fff;
  text-decoration: none;
}

.block-23 ul li a:hover {
  color: #f1c40f;
}

.block-23 ul li span.text {
  font-size: 16px; /* Adjust text size */
  color: #bbb; /* Light gray color for text */
}

/* Style for the remove button */
.remove-btn {
    background-color: transparent; /* Remove default button styling */
    border: none; /* Remove border */
    cursor: pointer; /* Show pointer on hover */
    padding: 0;
}

/* Style for the close icon */
.remove-btn i.fa-close {
    font-size: 20px; /* Adjust size */
    color: #ff4d4d; /* Red color for the cross */
    transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover */
}

/* Hover effect for the icon */
.remove-btn:hover i.fa-close {
    color: #ff1a1a; /* Darker red on hover */
    transform: scale(1.2); /* Enlarge slightly on hover */
}



.small-modal {
      width: 300px !important;
      font-size: 0.8em !important;
    }

    .small-modal .swal2-title {
      font-size: 1.5em !important;
    }

    .small-modal .swal2-content {
      font-size: 1em !important;
    }

    .small-modal .swal2-confirm {
      font-size: 0.9em !important;
      padding: 0.5em 1em !important;
    }


    .primary-btn.disabled {
    background-color: #ccc;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
}
</style>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__option">
        <div class="offcanvas__links">
            <a href="#">Sign in</a>
            <a href="#">FAQs</a>
        </div>
        <div class="offcanvas__top__hover">
            <span>Usd <i class="arrow_carrot-down"></i></span>
            <ul>
                <li>USD</li>
                <li>EUR</li>
                <li>USD</li>
            </ul>
        </div>
    </div>
    <div class="offcanvas__nav__option">
        <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
        <a href="#"><img src="img/icon/heart.png" alt=""></a>
        <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
        <div class="price">$0.00</div>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__text">
        <p>Free shipping, 30-day return or refund guarantee.</p>
    </div>
</div>
<!-- Offcanvas Menu End -->

   <!-- Navbar section -->
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#"><h1 class="logoname">GAMZY</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fas fa-bars"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
              
                <li class="nav-item"><a href="/user/ShopPage" class="nav-link">Shop</a></li>
                <li class="nav-item"><a href="/user/wishlist" class="nav-link">WishList</a></li>
                <li class="nav-item dropdown active">
                    <a class="nav-link" href="#" aria-haspopup="true" aria-expanded="false"><span class="fas fa-shopping-cart"></span></a>
                    <!-- Add dropdown content if needed -->
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar section -->
<section class="shopping-cart spad">
    <div class="container">
        <p class="breadcrumbs">
            <a href="/">Home</a> &gt; 
            <a href="/user/ShopPage">Shop</a> &gt; 
            <a href="/user/productCart">Product Cart</a>
          </p>
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (cart && cart[0] && cart[0].products && cart[0].products.length > 0) { %>
                                <% cart[0].products.forEach(product => { %>
                                    <tr>
                                        <td class="product__cart__item">
                                            <div class="product__cart__item__pic">
                                                <a href="/productView/product/<%= product.productId._id %>/variant/<%= product.variantId %>">
                                                    <% const variant = product.productId.variants.find(v => v._id.toString() === product.variantId.toString()); %>
                                                    <% if (variant && variant.images && variant.images.length > 0) { %>
                                                        <img src="/uploads/<%= variant.images[0] %>" alt="Product image">
                                                    <% } else { %>
                                                        <img src="/path/to/default/image.jpg" alt="Default Image">
                                                    <% } %>
                                                </a>
                                            </div>
                                            <div class="product__cart__item__text">
                                                <h6><%= product.productId.name %></h6>
                                                <% if (product.discount > 0) { %>
                                                    <h5>
                                                        ₹<%= product.discountedPrice.toFixed(2) %>
                                                        <span style="text-decoration: line-through; color: red;">₹<%= product.productId.price.toFixed(2) %></span>
                                                    </h5>
                                                <% } else { %>
                                                    <h5>₹<%= product.productId.price.toFixed(2) %></h5>
                                                <% } %>
                                            </div>
                                        </td>
                                        <td class="quantity__item">
                                            <div class="quantity">
                                                <% if (variant.quantity < 1) { %>
                                                    <div class="out-of-stock">Out Of Stock</div>
                                                <% } else { %>
                                                    <% 
                                                        let maxQuantity = Math.min(5, variant.quantity);
                                                        var stockMessage = "";
                                                        if (variant.quantity > 0 && variant.quantity < 5) {
                                                            stockMessage = 'only ' + variant.quantity + ' left in stock';
                                                        }
                                                    %>
                                                    <button class="qty-btn qty-decrease">-</button>
                                                    <input type="number" value="<%= product.quantity %>" max="<%= maxQuantity %>" min="1" 
                                                    data-price="<%= product.discountedPrice ? product.discountedPrice : product.productId.price %>" 
                                                    data-product-id="<%= product.productId._id %>" 
                                                    data-variant-id="<%= product.variantId %>" 
                                                    data-available-stock="<%= variant.quantity %>">
                                                    <button class="qty-btn qty-increase">+</button>
                                                    </div>
                                                    <% if (stockMessage) { %>
                                                        <p class="stock-message"><%= stockMessage %></p>
                                                    <% } %>
                                                <% } %>
                                            </td>
                                            <td class="cart__price">
                                                <% if (variant.quantity < 1) { %>
                                                    ₹<span class="item-total">0.00</span>
                                                <% } else { %>
                                                    ₹<span class="item-total"><%= (product.discountedPrice * product.quantity).toFixed(2) %></span>
                                                <% } %>
                                            </td>
                                            <td class="cart__close">
                                                <form id="removeProduct">
                                                    <input type="hidden" name="productId" value="<%= product.productId._id %>">
                                                    <input type="hidden" name="variantId" value="<%= product.variantId %>">
                                                    <button class="remove-btn" onclick="removeCart(event, '<%= product.productId._id %>', '<%= product.variantId %>')">
                                                        <i class="fa fa-close"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    <% }) %>
                                <% } else { %>
                                    <tr>
                                        <td colspan="4">Your cart is empty.</td>
                                    </tr>
                                <% } %>
                            </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn">
                            <a href="/user/ShopPage">Continue Shopping</a>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="col-lg-4">
                
                <div class="cart__total">
                    <h6>Cart total</h6>
                    <ul>
                        <li>Subtotal <span>₹<span id="subtotal">
                            <%= cart && cart[0] ? cart[0].products.reduce((sum, product) => {
                                return sum + product.discountedPrice * product.quantity;
                            }, 0).toFixed(2) : 0 %>
                        </span></span></li>
                        <li>Total <span>₹<span id="total">
                            <%= cart && cart[0] ? cart[0].products.reduce((sum, product) => {
                                return sum + product.discountedPrice * product.quantity;
                            }, 0).toFixed(2) : 0 %>
                        </span></span></li>
                    </ul>
                    <a href="/user/cheakOut" class="primary-btn <%= (cart && cart[0] && cart[0].products.length > 0) ? '' : 'disabled' %>">
                        Proceed to checkout
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

 <!-- Footer Section Begin -->
 <footer class="ftco-footer ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2 logo-name">GAMZY</h2>
                    <p>Your one-stop shop for gaming accessories.</p>
                </div>
            </div>
            <div class="col-md">
              <div class="ftco-footer-widget mb-4">
                <h2 class="ftco-heading-2">Have a Question?</h2>
                <div class="block-23 mb-3">
                  <ul>
                    <li>
                      <span class="fas fa-map-marker-alt"></span>
                      <span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span>
                    </li>
                    <li>
                      <a href="#"><span class="fas fa-phone-alt"></span><span class="text">+2 392 3929 210</span></a>
                    </li>
                    <li>
                      <a href="#"><span class="fas fa-envelope"></span><span class="text">info@yourdomain.com</span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |
                    This template is made with <i class="fas fa-heart color-danger" aria-hidden="true"></i> by 
                    <a href="https://colorlib.com" target="_blank">Colorlib</a>
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>

document.addEventListener('DOMContentLoaded', function() {
    // Function to update stock message
    function updateStockMessage(input) {
        const availableStock = parseInt(input.getAttribute('data-available-stock'), 10);
        const quantity = parseInt(input.value, 10);
        const stockMessageDiv = document.getElementById('stockMessage' + input.getAttribute('data-variant-id'));

        if (availableStock === 0) {
            stockMessageDiv.textContent = 'Out of stock';
        } else if (availableStock < 5) {
            stockMessageDiv.textContent = `Only ${availableStock} left in stock`;
        } else {
            stockMessageDiv.textContent = '';
        }
    }


        // Select all quantity inputs
        const quantityInputs = document.querySelectorAll('.quantity input[type="number"]');

        // Initialize stock message for each quantity input
        quantityInputs.forEach(input => {
            updateStockMessage(input);

            // Add event listener for input changes
            input.addEventListener('input', function() {
                updateStockMessage(input);
            });

            // Add event listeners for increase and decrease buttons
            const decreaseButton = input.previousElementSibling;
            const increaseButton = input.nextElementSibling;

            decreaseButton.addEventListener('click', function() {
                let quantity = parseInt(input.value, 10);
                if (quantity > 1) {
                    input.value = quantity - 1;
                    updateStockMessage(input);
                }
            });

            increaseButton.addEventListener('click', function() {
                let quantity = parseInt(input.value, 10);
                if (quantity < input.max) {
                    input.value = quantity + 1;
                    updateStockMessage(input);
                }
            });
        });
    });
    // d
    
    async function removeCart(event,productId,variantId){
        event.preventDefault()
        const data={
            productId,
            variantId
        }
        console.log(data)
        const response=await fetch('/user/productCart/remove',{
            method:'POST',
            headers:{
                'Content-Type':'application/json'
            },
            body:JSON.stringify({data})
        })
        if (!response.ok) {
                throw new Error('Failed to remove product from cart');
            }
            console.log('this is response' , response);
            const datas = await response.json();
            if(response.ok){
                Swal.fire({
                    title : 'Success',
                    text : datas.message,
                    icon : 'success',
                    confirmButtonText: 'OK',
                    customClass: {
                    popup: 'small-modal'
                  }
                    }).then(() => {
                        window.location.href = '/user/productCart';
                    });
                } else {
                    Swal.fire({
                        title: 'Error',
                        text: datas.message,
                        icon: 'error',
                        confirmButtonText: 'OK',
                        customClass: {
                    popup: 'small-modal'
                  }
                    });
                }
           

            // Remove the row from the table
            row.remove();
            updateTotalSum();
    }
    document.addEventListener('DOMContentLoaded', function() {
    const quantityInputs = document.querySelectorAll('.quantity input[type="number"]');
    const incrementButtons = document.querySelectorAll('.quantity .qty-increase');
    const decrementButtons = document.querySelectorAll('.quantity .qty-decrease');
    // const removeProductForms = document.querySelectorAll('.removeProductForm');

    quantityInputs.forEach(input => {
        input.addEventListener('input', function() {
            updateQuantity(this);
        });
    });

    incrementButtons.forEach(button => {
        button.addEventListener('click', function(e) {
            e.preventDefault();
            const input = this.parentElement.querySelector('input[type="number"]');
            input.stepUp();
            updateQuantity(input);
        });
    });

    decrementButtons.forEach(button => {
        button.addEventListener('click', function(e) {
            e.preventDefault();
            const input = this.parentElement.querySelector('input[type="number"]');
            input.stepDown();
            updateQuantity(input);
        });
    });

    // removeProductForms.forEach(form => {
    //     form.addEventListener('submit', function(e) {
    //         e.preventDefault();
    //         removeProduct(this);
    //     });
    // });

    async function updateQuantity(input) {
        const price = parseFloat(input.dataset.price);
        const quantity = parseInt(input.value);
        const productId = input.dataset.productId;
        const variantId = input.dataset.variantId;

        const itemTotalElement = input.closest('tr').querySelector('.item-total');
        const itemTotal = price * quantity;
        itemTotalElement.textContent = itemTotal.toFixed(2);

        updateTotalSum();

        // Send an AJAX request to update the quantity on the server
        try {
            const response = await fetch('/user/cartUpdate', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    productId: productId,
                    variantId: variantId,
                    quantity: quantity,
                    discountedPrice: price // Send the price used for calculation
                })
            });

            if (!response.ok) {
                throw new Error('Failed to update cart');
            }

            const data = await response.json();
            console.log(data.message);
        } catch (error) {
            console.error('Error:', error);
        }
    }

    async function removeProduct(form) {
        const productId = form.querySelector('input[name="productId"]').value;
        const variantId = form.querySelector('input[name="variantId"]').value;
        const row = form.closest('tr');
        console.log('this is form button')
        // Send an AJAX request to remove the product from the cart
        try {
            // const response = await fetch('/user/productCart/remove', {
            //     method: 'POST',
            //     headers: {
            //         'Content-Type': 'application/json'
            //     },
            //     body: JSON.stringify({
            //         productId: productId,
            //         variantId: variantId
            //     })
            // });

           
        } catch (error) {
            console.error('Error during the remove cart:', error);
            Swal.fire({
                title: 'Error',
                text: 'Something went wrong. Please try again.',
                icon: 'error',
                confirmButtonText: 'OK',
                customClass: {
                    popup: 'small-modal'
                  }
            });
        }
    }

    function updateTotalSum() {
        let totalSum = 0;
        document.querySelectorAll('.item-total').forEach(element => {
            totalSum += parseFloat(element.textContent);
        });
        document.getElementById('subtotal').textContent = totalSum.toFixed(2);
        document.getElementById('total').textContent = totalSum.toFixed(2);
    }
});

    </script>



<!-- Search End -->
 <!-- Js Plugins -->
 <script src="/js/jquery-3.4.1.min.js"></script>
 <script src="/js/bootstrap11.min.js"></script>
 <script src="/js/jquery.nice-select.min.js"></script>
 <script src="/js/jquery.nicescroll.min.js"></script>
 <script src="/js/jquery.magnific-popup.min.js"></script>
 <script src="/js/jquery.countdown.min.js"></script>
 <script src="/js/jquery.slicknav.js"></script>
 <script src="/js/mixitup.min.js"></script>
 <script src="/js/owl.carousel1.min.js"></script>
 <script src="/js/main3.js"></script>
 
 <!-- Bootstrap JS bundle (includes Popper) -->
 <script src="/js/bootstrap.bundle.min.js"></script>

 <!-- Your custom JavaScript file (if any) -->
 <script src="/js/custom-scripts.js"></script>
<%- include('../layouts/footer') %>